@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
footer {
  z-index: -1;
  margin-top: 300px;
  width: 100vw;
  position: absolute;
  /* bottom: 0; */
  background-color: #a37eff;
}

.footer-main-row {
  width: 100vw;
  padding: 25px;
  /* padding-top: 150px; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 20%;
  padding: 20px;
  height: 240px;
}
#col1 {
  display: flex;
  flex-direction: column;
  place-items: center;
  color: #fff;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
#col1 p {
  /* justify-content: space-around; */
  font-size: 11px;
}

.footer-logo {
  width: 85px;
}
.col h1 {
  color: #fff;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}
.col h5 {
  color: #fff;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
}
#col2 h4 {
  color: #fff;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  padding-top: 15px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links a {
  padding-right: 5px;
}

#col4 {
  padding-left: 50px;
}
#col2 {
  padding-left: 50px;
}

.footerform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #ccc; */
  /* background-color: #f37979; */
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  padding: 7px 8px;
  /* max-width: 90%; */
}
.footerform .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}
.footerform input {
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
  padding-left: 3px;
  /* margin-left: 5px; */
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: Outfit;
  font-size: 12px;
  font-weight: 700;
}
.footerform button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.footerform button .fa-solid {
  font-size: 16px;
  color: #ccc;
}

hr {
  width: 95%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright {
  text-align: center;
  color: #fff;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}
.btmlinks {
  /* list-style: ; */
  text-decoration: none;
}
@media (max-width: 1409px) {
  .col {
    flex-basis: 50%;
    height: 240px;
  }

  #col3,
  #col4,
  #col5 {
    flex-basis: 30%;
    height: max-content;
  }
  #col2 {
    padding-left: 250px;
  }
}

@media (max-width: 1100px) {
  #col2 {
    padding-left: 140px;
  }
}

@media (max-width: 800px) {
  #col2 {
    padding-left: 100px;
  }
  .footer-links a {
    padding-right: 40px;
  }
  #col5 {
    flex-basis: 50%;
    height: max-content;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }

  .col {
    flex-basis: 100%;
    padding: 20px;
    height: max-content;
  }
  #col2,
  #col4 {
    padding-left: 20px;
  }
  .footer-links a {
    padding: 0;
  }
  #col2,
  #col3,
  #col4,
  #col5 {
    flex-basis: 100%;
    height: max-content;
  }

  .col h1 {
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .col h5 {
    font-size: 16px;
    font-weight: 300;
  }
  #col2 h4 {
    font-size: 16px;
    font-weight: 500;
  }
}
